/* Global */
:root{
    --color-primary: #030e1a;
    --color-secondary: #2c3e50;
    --color-tertiary: #f6f6f6;
    --font-family-h: font-family: "murberrynormal";
    --font-family-p:   font-family: "murberrynorma";
}
/* font face murberry */
@font-face {
    font-family: "murberrynormal";
    src: url("../resources/font_murberry/murberry-webfont.woff2") format("woff2"),
      url("../resources/font_murberry/murberry-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
/* Font family : "Josefin Sans", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

/* Reset CSS */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fp-tableCell{
    display:flex; 
}

/* Setup body title anchors img*/
body{
    font-size: 1.6rem;
    font-family: var(--font-family-p);
    position: relative;
    z-index: 1;
}
h1,
h2,
h3
{
    font-family: "murberrynormal";
    font-weight: 600;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.logo-title{
    font-family: var(--font-family-h);
}
.container{
    max-width: 114rem;
    margin: 0 auto;
}
@media only screen and (max-width: 1200px){
    .container{
        padding: 0 3rem;
    }
}

/* ------------------Header 👦-------------------*/
.header{
    position: relative;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
    overflow: hidden;
    background-image: linear-gradient(to top, #cac0bd 0%, #8783b3 100%);
}

.header img{
    position: absolute;
    bottom: 0;
    right: -5%;
    width:60rem;
    z-index: -1;
}
/* ------------------Responsive header 👦------------------*/
/* -------💻--------- */
@media only screen and (max-width: 996px){
    .header {
        min-height: 60vh;
    }
    .hero h1{
        font-size: 4.7rem !important;
        line-height: 6rem;
    }
    .header img{
        right: -10%;
        width: 50rem;
    }
}
@media only screen and (max-width: 768px){
    .header img{
        width: 40rem;
    }
}
@media only screen and (max-width: 567px){
    .header {
        min-height: 100vh;
    }
    .header img{
        width: 35rem;
    }
}
/* -----------------------------Navigation 🚀----------------------------- */
.nav{
    padding: 1.6rem 0;
}

.nav .fix-nav{
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    background: transparent;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    z-index: 1000;
}

.nav .fix-nav .logo h1 .logo-title{
    color: rgb(12, 12, 12);
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.logo h1{
    font-size: 2.5rem;
}

.logo h1 span{
    color: var(--color-secondary);
}

.nav-list{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.nav-item:not(:last-child){
    margin-right: .5rem;
}

.nav-link:link, .nav-link:visited{
    color: var(--color-secondary);
    padding: 0.8rem 1rem;
    transition: all .3s ease-in-out;
}

.nav-link:hover{
    border-radius: .3rem;
    background: var(--color-secondary);
    color: whitesmoke;
}

/* ------------------Hamburger 🍔------------------ */
.top-nav, .hamburger{
    display: none;
}

@media only screen and (max-width: 1300px){
    .menu{
        position: fixed;
        top: 0;
        left: -100%;
        width: 80%;
        max-width: 40rem;
        height: 100%;
        background-color: #fff;
        transition: all 500ms ease-in-out;
        z-index: 100;
    }
    .menu .show{
        left: 0;
    }
    .top-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: whitesmoke;
        padding: 1rem 1.6rem;
    }
    .logo h1 span {
        color: var(--color-secondary);
        }
        
        .top-nav .close {
        color: var(--color-secondary);
        font-size: 2.3rem;
        padding: 1rem;
        cursor: pointer;
        }
        
        .hamburger {
        display: block;
        color: var(--color-secondary);
        font-size: 2.3rem;
        padding: 0.5rem;
        cursor: pointer;
        }
        
        .nav-link:link,
        .nav-link:visited {
        display: block;
        font-size: 1.7rem;
        color: var(--color-secondary);
        padding: 1rem 0;
        }
        
        .nav-list {
        flex-direction: column;
        align-items: start;
        padding: 1rem 1.6rem;
        }
        
        body.show::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(153, 16, 16, 0.8);
        z-index: 1;
        }
        
        .nav.show {
        background-color: rgba(175, 34, 34, 0.8);
        }
}

/* -------------------------Hero 🧝‍♂️------------------------- */
.hero{
    position: absolute;
    top: 50%;
    transform: translate(30%, -50%);
}

.hero h3{
    font-family: var(--font-family-p);
    font-size: 2rem;
    font-weight: 400;
}

.hero h1{
    font-size: 6rem;
    line-height: 7rem;
}

.hero h3{
    font-size: 2rem;
}

.hero h4 span{
    color: var(--color-secondary);
    text-decoration: underline;
}

.hero a:link,
.hero a:visited {
 display: inline-block;
 padding: 0.8rem 1rem;
 border: 1px solid var(--color-secondary);
 background-color: var(--color-secondary);
 color: whitesmoke;
 margin-top: 2rem;
}

.hero a:hover {
    background-color: transparent;
    color: var(--color-secondary);
    font-weight: bold;
   } 


/* ---------------------Responsive hero 🧝‍♂️--------------------- */
@media only screen and (max-width: 1450px){
    .hero h1{
        font-size: 4.7rem !important;
        line-height: 6rem;
    }
    .header img{
        width:62rem;
    }
    
    .icons{
        left: 12% !important;
    }
}
@media only screen and (max-width: 1300px){
    .hero h1{
        font-size: 4.4rem !important;
    }
    .header img{
        width:60rem;
    }
    
    .icons{
        left: 13% !important;
    }
}

@media only screen and (max-width: 1200px){
    .hero {
        transform: translate(10%, -50%);
        }
    .hero h1{
        font-size: 4.2rem !important;
        line-height: 6rem;
    }
    .header img{
        width:55rem;
    }
    
    .icons{
        left: 15% !important;
    }
}
@media only screen and (max-width: 1100px){

    .hero h1{
        font-size: 4rem !important;
        line-height: 6rem;
    }
    .header img{
        width:50rem;
    }

}

@media only screen and (max-width: 950px) {
    .hero h1{
        font-size: 3.5rem !important;
        line-height: 6rem;
    }
    .header img{
        width:40rem;
    }

    .icons{
        left: 5% !important;
    }
   }
    
@media only screen and (max-width: 768px) {
    .hero h1 {
    font-size: 4rem;
    }
    .hero {
        display: block;
        top: 35%;
        transform: translate(10%, -50%);
        }
   }
    
@media only screen and (max-width: 567px) {
    .hero {
    display: block;
    top: 35%;
    transform: translate(10%, -50%);
    }
    
    .hero h3 {
    font-size: 1.6rem !important;
    }
    
    .hero h1 {
    font-size: 2.5rem !important;
    line-height: 5.5rem;
    }
    
    .hero h4 {
    font-size: 1.6rem;
    }
    .header img{
        width:33rem;
    }

    span i{
        font-size: 2rem;
    }
   }

   @media only screen and (max-width: 370px) {
    .hero {
    display: block;
    top: 35%;
    transform: translate(10%, -50%);
    }
    
    .hero h3 {
    font-size: 1.6rem;
    }
    
    .hero h1 {
    font-size: 3rem;
    line-height: 4rem;
    }
    
    .hero h4 {
    font-size: 1.4rem;
    }
    .header img{
        width:26rem;
    }

     span i{
        font-size: 1.8rem;
    }
    
   }
   /* ------------------Responsive header 👦------------------*/
/* -------💻--------- */
/* @media only screen and (max-width: 996px){
    .header {
        min-height: 60vh;
    }
    .hero h1{
        font-size: 4.7rem !important;
        line-height: 6rem;
    }
    .header img{
        right: -10%;
        width: 50rem;
    }
}
@media only screen and (max-width: 768px){
    .header img{
        width: 40rem;
    }
}
@media only screen and (max-width: 567px){
    .header {
        min-height: 100vh;
    }
    .header img{
        width: 35rem;
    }
} */

 .icons {
    left: 10%;
    color: var(--color-secondary);
    margin-top: 2rem;
    
   }
    
   .icons span:not(:last-child) {
    margin-right: 1rem;
   }
    
   .icons span {
    font-size: 2.5rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
   }
    
   .icons span:hover {
    color: var(--customColor);
   }


 /* --------Section page mon profil🤷---------  */
 .about-me{
    background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
}
.about-me .fp-tableCell{
    display: inline !important;
}

 .profil{
    padding: 5rem 0 7rem 0;
    overflow-x: hidden;
 }

 .about {
    margin-top: 5rem;
}

.about-center {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 3rem 5rem;
}

.title{
    margin: 4rem 0 7rem 0;
    text-align: center;
}

.title h1{
    position: relative;
    display: inline-block;
    font-size: 3rem;
    z-index: 0;
}

.title h1:after{
    content: "";
    position: absolute;
    width: 50%;
    height: 0.2rem;
    bottom: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-secondary);
    z-index: 1;
}

.left img{
    height: 40rem;
    max-width: 35rem;
    object-fit: cover;
}

.right h1{
    margin-bottom: 2rem;
}

.right p{
    line-height: 2rem;
    margin-bottom: 2rem;
    padding-right: 1rem;

    color: var(--color-primary);
    text-align: justify;
}

.right h1 span {
    color: var(--color-secondary);
   }

a.btn {
    display: inline-block;
    padding: 1rem 2rem;
    background: var(--color-secondary);
    color: #fff;
    border-radius: 0.5rem;
    border: 2px solid var(--customColor);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 300ms ease-in-out;
   }
    
 a.btn:hover {
    transform: translateY(-3px);
    background-color: transparent;
    color:var(--color-secondary);
    font-weight: bold;
    border: 3px solid var(--color-secondary);
   }
    
 a.btn:active {
    transform: translateY(0px);
   }
/* ---------------------Responsive About me --------------------- */

@media only screen and (max-width: 996px) {
    .right h1 {
    font-size: 2rem;
    }
    
    .right p {
    font-size: 1.5rem;
    text-align: justify;
    }
    
    a.btn {
    padding: 0.7rem 1.8rem;
    }
    
    .left img {
    height: 40rem;
    max-width: 25rem;
    }
   }

   @media only screen and (max-width: 768px) {
    .about-center {
    grid-template-columns: 1fr;
    gap: 3rem 0rem;
    }
    
    .left {
    text-align: center;
    }
    
    .left img {
    height: 40rem;
    max-width: 90%;
    }
   }

/* ----------------------Slide services👍------------------- */
.slide .fp-tableCell{
    display: inline !important;
}

.theme {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.theme .title {
    color: var(--color-tertiary);
 }
    
.services-center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 4rem;

 }

.theme .title h1:after{
    content: "";
    position: absolute;
    width: 50%;
    height: 0.2rem;
    bottom: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:#c2b299;
    z-index: 1;
}

.service {
    color: var(--color-tertiary);
    background: rgb(201 254 220 / 6%); 
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
    transition: all 300ms ease-in-out;
}

.service span {
    color: var(--color-tertiary);
    font-size: 4rem;
    transition: all 300ms ease-in-out;
   }
    
.service h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
   }
    
.service p {
    font-size: 1.4rem;
    color: #c2b299;;
    text-align: justify;
   }
    
.service:hover {
    background-color:  #c2b299;;
    color: whitesmoke;
   }
    
.service:hover span{
    color: whitesmoke;
   }

.service:hover h2{
    color: whitesmoke;
}

.service:hover p{
    color: whitesmoke;
}

/* ----------------------Slide skills🏆------------------- */
.theme-skills {
    background-color: #c2b299;
    color: var(--color-primary);
}
.theme-skills .title h1:after{
    content: "";
    position: absolute;
    width: 50%;
    height: 0.2rem;
    bottom: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:var(--color-secondary);
    z-index: 1;
}
.team {
    color: #fff;
    background-color: #111;
    padding: 3rem;
    text-align: center;
    border-radius: 1rem;
    border-bottom: 4px solid transparent;
    transition: all 300ms ease-in-out;
   }
    
   .team .img-cover {
    overflow: hidden;
    border-radius: 100%;
    border: 4px solid var(--customColor);
    height: 13rem;
    width: 13rem;
    margin: 0 auto;
    transition: all 300ms ease-in-out;
   }
    
   .team .img-cover img {
    height: 100%;
    object-fit: cover;
   }
    
   .team h3 {
    font-size: 1.6rem;
    margin: 1rem 0;
   }
    
   .team p {
    font-size: 1.5rem;
    color: #ccc;
    width: 80%;
    margin: 0 auto 1rem auto;
   }
    
   .team:hover {
    border-bottom: 4px solid #fff;
    background-color: var(--customColor);
   }
    
   .team:hover .img-cover {
    border-color: #fff;
   }